.teamBlock {
  display: flex;
  justify-content: center;

  .aboutTeam {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    overflow: hidden;

    .teamText {
      text-align: center;
    }

    .teamPhoto {
      width: 100%;
      padding-top: 100px;
      height: 300px;
      margin-bottom: 100px;

      .photoBlock {
        display: flex;
        justify-content: center;

        .person1 {
          position: absolute;
          margin-left: -400px;
          margin-top: -90px;
        }

        .line1 {
          position: absolute;
          margin-left: -200px;
          margin-top: -60px;
        }

        .person2 {
          position: absolute;
          margin-top: 50px;
        }

        .line2 {
          position: absolute;
          margin-left: 200px;
          margin-top: 70px;
        }

        .person3 {
          position: absolute;
          margin-left: 400px;
          margin-top: -80px;
        }

        @media (max-width: 1180px) {
          .person1 {
            margin-left: -90px;
            width: 200px;
            height: 170px;
          }

          .line1 {
            margin-left: 10px;
            margin-top: -60px;
          }

          .person2 {
            width: 212px;
            height: 180px;
            margin-top: 100px;
            margin-left: 80px;
          }

          .line2 {
            margin-top: 150px;
            margin-left: -50px;
          }

          .person3 {
            width: 171px;
            height: 193px;
            margin-left: -100px;
            margin-top: 340px;
          }
        }
      }
    }

    @media (max-width: 1180px) {
      .teamPhoto {
        width: 500px;
        height: 600px;
      }
    }
  }
}

@-moz-document url-prefix() {
  .teamBlock {
    .aboutTeam {
      .teamPhoto {
        .photoBlock {
          .person1 {
            position: absolute;
            margin-right: 400px;
            margin-top: -90px;
          }

          .line1 {
            position: absolute;
            margin-right: 200px;
            margin-top: -50px;
          }

          .person2 {
            position: absolute;
            margin-top: 50px;
          }

          .line2 {
            position: absolute;
            margin-left: 500px;
            margin-top: 70px;
          }

          .person3 {
            position: absolute;
            margin-left: 800px;
            margin-top: -80px;
          }

          @media (max-width: 1180px) {
            .person1 {
              margin-left: 230px;
              width: 200px;
              height: 170px;
            }

            .line1 {
              margin-left: 230px;
              margin-top: -60px;
            }

            .person2 {
              width: 212px;
              height: 180px;
              margin-top: 100px;
              margin-left: 150px;
            }

            .line2 {
              margin-top: 150px;
              margin-left: -100px;
            }

            .person3 {
              width: 171px;
              height: 193px;
              margin-left: -200px;
              margin-top: 340px;
            }
          }
        }
      }

      @media (max-width: 1180px) {
        .teamPhoto {
          width: 500px;
          height: 600px;
        }
      }
    }
  }
}
