.headerBlock {
  display: flex;
  justify-content: center;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 112px;
    border-bottom: 4px solid black;

    .logo {
      user-select: none;
    }

    .navBar ul {
      font-size: 20px;
      width: 800px;
      display: flex;
      justify-content: space-between;

      li {
        list-style-type: none;
      }

      li:first-child {
        font-weight: bold;
      }
    }

    .button {
      width: 145px;
      height: 48px;
      background-color: #ffffff;
      border-radius: 40px;
      box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
    }

    @media (max-width: 1300px) {
      .navBar ul {
        display: flex;
        justify-content: space-evenly;
      }
    }

    @media (max-width: 1200px) {
      .navBar ul {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
      }
    }
  }
}
