.introView {
  display: flex;
  justify-content: center;

  .introBlock {
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

    .intro {
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
      padding-bottom: 100px;

      .descrirptionBlock {
        width: 60%;
        display: flex;
        justify-content: flex-end;

        .description {
          padding-top: 60px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          p {
            margin-top: 40px;
            font-size: 16px;
            width: 60%;
            line-height: 32px;
          }

          .descImg {
            user-select: none;
          }

          .descInput {
            font-size: 14px;
            width: 400px;
            padding-left: 48px;
            height: 64px;
            border-radius: 40px;
            background-color: #ffffff;
            border: none;
            box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
          }

          .inputIcon {
            position: absolute;
            margin-left: 20px;
            margin-top: 20px;
            user-select: none;
          }
          .inputBtn {
            position: absolute;
            width: 122px;
            height: 48px;
            background: #f2726c;
            border-radius: 30px;
            border: none;
            margin-left: -130px;
            margin-top: 8px;
            color: white;
            font-weight: bolder;
            cursor: pointer;
          }
        }
      }

      .images {
        width: 35%;
        user-select: none;

        .group {
          position: absolute;
          margin-left: -560px;
          margin-top: 300px;
        }

        .headIcon {
          position: absolute;
          margin-top: 330px;
          margin-left: -530px;
        }

        .members {
          position: absolute;
          margin-top: -100px;
          margin-left: -70px;
          display: flex;
          flex-direction: column;
          font-size: 20px;
          color: white;
          font-weight: bold;

          .span2 {
            font-size: 56px;
          }
        }
      }
    }
  }
}
