.intro-block {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.intro {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.description {
  width: 50%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description p {
  margin-left: -60px;
  margin-top: 40px;
  font-size: 16px;
  width: 60%;
  line-height: 32px;
}

.description .desc-img {
  user-select: none;
}

.desc-input {
  font-size: 14px;
  width: 400px;
  padding-left: 48px;
  height: 64px;
  border-radius: 40px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
}

.input-icon {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  user-select: none;
}

.input-btn {
  position: absolute;
  width: 122px;
  height: 48px;
  background: #f2726c;
  border-radius: 30px;
  border: none;
  margin-left: -130px;
  margin-top: 8px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.images {
  width: 40%;
  user-select: none;
}

.images .group {
  position: absolute;
  margin-left: -560px;
  margin-top: 300px;
}

.images .headIcon {
  position: absolute;
  margin-top: 330px;
  margin-left: -530px;
}

.members {
  position: absolute;
  margin-top: -100px;
  margin-left: -70px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.members #span-2 {
  font-size: 56px;
}
