.introView {
  display: flex;
  justify-content: center;
  background-color: #f7f3f4;

  .introBlock {
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

    .intro {
      display: flex;
      justify-content: space-evenly;
      padding-top: 100px;
      padding-bottom: 100px;

      .descrirptionBlock {
        width: 60%;
        display: flex;
        justify-content: flex-end;

        .description {
          padding-top: 60px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          p {
            margin-top: 40px;
            font-size: 16px;
            width: 60%;
            line-height: 32px;
          }

          .descImg {
            user-select: none;
          }

          .descInput {
            font-size: 14px;
            width: 400px;
            padding-left: 48px;
            height: 64px;
            border-radius: 40px;
            background-color: #ffffff;
            border: none;
            box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
          }

          @media (max-width: 980px) {
            .descInput {
              width: 339px;
              height: 64px;
            }

            p {
              width: 78%;
            }
          }

          .inputIcon {
            position: absolute;
            margin-left: 20px;
            margin-top: 20px;
            user-select: none;
          }
          .inputBtn {
            width: 122px;
            height: 48px;
            background: #f2726c;
            border-radius: 30px;
            border: none;
            margin-left: -130px;
            margin-top: 8px;
            color: white;
            font-weight: bolder;
            cursor: pointer;
          }
        }
      }

      .images {
        width: 35%;
        user-select: none;

        .group {
          position: absolute;
          margin-left: -55px;
          margin-top: -300px;
        }

        .headIcon {
          position: absolute;
          margin-top: -270px;
          margin-left: -20px;
        }

        .members {
          position: absolute;
          margin-top: -110px;
          margin-left: -20px;
          display: flex;
          flex-direction: column;
          font-size: 20px;
          color: white;
          font-weight: bold;

          .span2 {
            font-size: 56px;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      .descrirptionBlock {
        width: 40%;
      }

      .images {
        width: 40%;
      }
    }

    @media screen and (max-width: 980px) {
      .intro {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .descrirptionBlock {
        margin-left: 210px;
        margin-top: -40px;

        .descImg {
          width: 336px;
          height: 181px;
        }
      }

      .images {
        margin-left: 300px;
      }
    }
  }
}

@-moz-document url-prefix() {
  .introView {
    .introBlock {
      .intro {
        .images {
          .group {
            position: absolute;
            margin-left: -510px;
            margin-top: 280px;
          }

          .headIcon {
            margin-top: 310px;
            margin-left: -480px;
          }
        }
      }
    }
  }
}
