.footerBlock {
  height: 336px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2,
  p {
    margin: 0;
    padding: 0;
    color: #333333;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    h2 {
      margin-bottom: 37px;
    }

    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.3px;
    }

    .Contacts {
      margin-left: 180px;

      h2 {
        font-weight: 700;
        font-size: 34px;
        letter-spacing: 0.3px;
      }
    }

    .Headquarters h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.3px;
    }

    .SocialMedia {
      margin-right: 180px;

      h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.3px;
      }

      .links {
        display: flex;
        justify-content: space-between;
      }

      .social {
        width: 32px;
        height: 32px;
        background: #333333;
        border-radius: 16.0096px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover img {
          color: skyblue;
          opacity: 0.5;
        }
      }
    }
  }
}
