.questionBlock {
  display: flex;
  justify-content: center;

  .questionView {
    margin-top: 100px;
    display: flex;
    width: 1120px;
    min-height: 389px auto;

    .aboutQuestion {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        color: #1e1a20;
      }

      p {
        width: 70%;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #1e1a20;
      }

      button {
        margin-top: 30px;
        width: 166px;
        height: 48px;
        background: #f2726c;
        border-radius: 30px;
        cursor: pointer;
        color: #ffffff;
        font-weight: 700;
        font-size: 13px;
        border: none;
      }

      .contactText {
        padding-top: 30px;
        width: 30%;
      }
    }

    .questions {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .question {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #1e1a20;
        padding-top: 10px;
        padding-bottom: 10px;

        .questionText {
          width: 85%;

          h3 {
            font-weight: 600;
            font-size: 24px;
            color: #1e1a20;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            color: #1e1a20;
          }
        }
        button {
          background: #f2726c;
          border: none;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          color: #ffffff;
          font-size: 30px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  @media screen and (max-width: 1120px) {
    .questionView {
      display: flex;
      flex-direction: column;
      align-items: center;

      .aboutQuestion {
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        h2 {
          font-weight: 700;
          font-size: 28px;
          line-height: 150%;
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 175%;
        }

        button {
          width: 166px;
          height: 48px;
        }
      }

      .questions {
        width: 90%;
        .question {
          button {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
