.slider-block {
  margin-top: 200px;
  height: 655px;
  background-color: #ffbd9e;
  overflow: hidden;

  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;

    img {
      margin-left: -90px;
      margin-right: -90px;
    }
  }

  .slider-conroler {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;

    .left {
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        width: 15px;
        height: 30px;
      }
    }

    .right {
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        width: 15px;
        height: 30px;
      }
    }

    .current {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: #000000;
    }

    .others {
      opacity: 0.5;
    }
  }
}
